/** {
    box-sizing: border-box;
}*/
  /* general styling */
/*body {
    font-family: "Open Sans", sans-serif;
}*/
  /* Create four equal columns that floats next to each other */
.column {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;

    border-right: 1px dotted #000;
    height: 100%; /* Should be removed. Only for demonstration */
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.d-flex{
    display: flex;
    gap:20px;
}
.flex-col{
    flex-direction: column;
    gap:20px;
}
.gap{
    gap:20px;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.circle-logo{
    width: 60px;
}
.logo{
    width: 220px;
}
.title{
    margin-top: 5px;
}
.student-name{
    margin-bottom: 10px;
}
.bar-code{
    width: 200px;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.align-center{
    align-self: center;
}
/*table*/
