table {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table tr {
    background-color: #fff;
    border: 1px solid #000;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
    border: 1px solid #000;
}
/*table end*/
hr{
    border-top: 1px solid #000;
}